<!-- templates/calc_form -->
{% extends '_base.html' %} {% block content %}
<h1 class="text-2xl font-bold text-center my-4">Compensation Calculator</h1>

<div class="flex flex-col">
  <div class="bg-white">
    <h1 class="text-center"><strong>Categories of losses:</strong></h1>
    <div class="flex flex-wrap justify-center p-4" id="checkboxContainer">
      <div class="flex items-center px-3 mb-2">
        <input type="checkbox" id="resourcesCheckbox" />
        <label class="ml-2" for="resourcesCheckbox">Resources</label>
      </div>
      <div class="flex items-center px-3 mb-2">
        <input type="checkbox" id="guardsmenCheckbox" />
        <label class="ml-2" for="guardsmenCheckbox">Guardsmen</label>
      </div>
      <div class="flex items-center px-3 mb-2">
        <input type="checkbox" id="specialistsCheckbox" />
        <label class="ml-2" for="specialistsCheckbox">Specialists</label>
      </div>
      <div class="flex items-center px-3 mb-2">
        <input type="checkbox" id="monstersCheckbox" />
        <label class="ml-2" for="monstersCheckbox">Monsters</label>
      </div>
      <div class="flex items-center px-3 mb-2">
        <input type="checkbox" id="mercenariesCheckbox" />
        <label class="ml-2" for="mercenariesCheckbox">Mercenaries</label>
      </div>
    </div>
    <hr class="border-solid border-red-500 py-3" />
    <form
      action="#"
      method="post"
      class="w-full min-w-full flex justify-center flex-wrap gap-2"
      id="calculatorForm">
      {% csrf_token %}
      <!-- Resources -->
      <div
        class="bg-white rounded-lg p-4 border border-gray-300"
        id="resources">
        <fieldset>
          <legend class="text-lg md:text-xl lg:text-2xl font-semibold my-2">
            Resources
          </legend>
          {% for key, value in categories.Resources.items %}
          <label for="{{ key }}">{{ key }}:</label>
          <input
            type="number"
            name="{{ key }}"
            id="{{ key }}"
            step="1"
            value="0"
            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
          <br />
          {% endfor %}
        </fieldset>
      </div>
      <!-- Guardsmen -->
      <div
        class="bg-white rounded-lg p-4 border border-gray-300"
        id="guardsmen">
        <fieldset>
          <legend class="text-lg md:text-xl lg:text-2xl font-semibold my-2">
            Guardsmen
          </legend>
          {% for key, value in categories.Guardsmen.items %}
          <label for="{{ key }}">{{ key }}:</label>
          <input
            type="number"
            name="{{ key }}"
            id="{{ key }}"
            step="1"
            value="0"
            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
          <br />
          {% endfor %}
        </fieldset>
      </div>
      <!-- Specialists -->
      <div
        class="bg-white rounded-lg p-4 border border-gray-300"
        id="specialists">
        <fieldset>
          <legend class="text-lg md:text-xl lg:text-2xl font-semibold my-2">
            Specialists
          </legend>
          {% for key, value in categories.Specialists.items %}
          <label for="{{ key }}">{{ key }}:</label>
          <input
            type="number"
            name="{{ key }}"
            id="{{ key }}"
            step="1"
            value="0"
            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
          <br />
          {% endfor %}
        </fieldset>
      </div>
      <!-- Monsters -->
      <div class="bg-white rounded-lg p-4 border border-gray-300" id="monsters">
        <fieldset>
          <legend class="text-lg md:text-xl lg:text-2xl font-semibold my-2">
            Monsters
          </legend>
          {% for key, value in categories.Monsters.items %}
          <label for="{{ key }}">{{ key }}:</label>
          <input
            type="number"
            name="{{ key }}"
            id="{{ key }}"
            step="1"
            value="0"
            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
          <br />
          {% endfor %}
        </fieldset>
      </div>
      <!-- Mercenaries -->
      <div
        class="bg-white rounded-lg p-4 border border-gray-300"
        id="mercenaries">
        <fieldset>
          <legend class="text-lg md:text-xl lg:text-2xl font-semibold my-2">
            Mercenaries
          </legend>
          {% for key, value in categories.Mercenaries.items %}
          <label for="{{ key }}">{{ key }}:</label>
          <input
            type="number"
            name="{{ key }}"
            id="{{ key }}"
            step="1"
            value="0"
            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
          <br />
          {% endfor %}
        </fieldset>
      </div>
      <input
        type="submit"
        id="submit"
        value="Submit"
        class="w-full md:w-1/2 lg:w-full px-6 py-3 bg-blue-500 text-white font-bold uppercase rounded shadow hover:bg-blue-700 focus:outline-none focus:shadow-outline" />
    </form>
  </div>

  <script>
    function toggleFieldset(category) {
      const content = document.getElementById(category)
      content.style.display =
        content.style.display === "none" ? "block" : "none"
    }

    document
      .getElementById("calculatorForm")
      .addEventListener("submit", function (event) {
        // Check if at least one checkbox is checked before allowing submission
        const checkboxes = document.querySelectorAll('[type="checkbox"]')
        const isAnyCheckboxChecked = Array.from(checkboxes).some(
          (checkbox) => checkbox.checked
        )

        if (!isAnyCheckboxChecked) {
          alert("Please select at least one category before submitting.")
          event.preventDefault()
        }
      })

    document.addEventListener("DOMContentLoaded", function () {
      const checkboxContainer = document.getElementById("checkboxContainer")
      const fieldsetIds = [
        "resources",
        "guardsmen",
        "specialists",
        "monsters",
        "mercenaries",
      ]
      const submitButton = document.getElementById("submit")

      fieldsetIds.forEach(function (id) {
        const checkbox = document.getElementById(id + "Checkbox")
        const fieldset = document.getElementById(id)

        checkbox.addEventListener("change", function () {
          fieldset.style.display = checkbox.checked ? "block" : "none"
          updateSubmitButtonState()
        })

        // Set initial state based on checkbox
        fieldset.style.display = checkbox.checked ? "block" : "none"
      })

      // Initial state of the submit button
      updateSubmitButtonState()

      function updateSubmitButtonState() {
        const checkboxes = document.querySelectorAll('[type="checkbox"]')
        const isAnyCheckboxChecked = Array.from(checkboxes).some(
          (checkbox) => checkbox.checked
        )

        // Set classes based on the checkbox state
        if (!isAnyCheckboxChecked) {
          submitButton.classList.remove("bg-blue-500", "hover:bg-blue-700")
          submitButton.classList.add("bg-gray-300")
        } else {
          submitButton.classList.remove("bg-gray-300")
          submitButton.classList.add("bg-blue-500", "hover:bg-blue-700")
        }

        // Update the disabled state
        submitButton.disabled = !isAnyCheckboxChecked
      }
    })
  </script>

  {% endblock content %}
</div>
